@import "partials/mixins";

.box {
  padding: 30px;
  background-color: var(--white_100);
  @include border-radius;
  border: 1px solid var(--black_20);
  img.logo {
    max-height: 100px;
  }
  &-dark {
    background-color: var(--black_10);
    color: var(--white_100) !important;
  }
  &-center {
    .box-body {
      @include flex(column, flex-start);
      align-items: center;
    }
  }
  .box-header {
    @include flex(row, space-between, nowrap);
    align-items: center;
    margin: -30px;
    background-color: var(--black_5);
    padding: 10px;
    color: var(--dark);
    border-radius: 5px 5px 0 0;
    margin-bottom: 30px;
    .creator {
      @include flex(row, flex-start, nowrap);
      align-items: center;
      .user-avatar {
        @include size(40px, 40px);
        background-color: var(--black_10);
        @include flex(column, center);
        align-items: center;
        border-radius: 50%;
        margin-right: 10px;
        img {
          @include size(20px, 20px);
        }
      }
      h6 {
        font-weight: 300;
        opacity: .5;
        font-size: 0.8rem;
      }
    }
    .box-menu {
      display: flex;
    }
  }
  .box-body {
    .tags {
      @include flex(row, center, wrap);
      .badge {
        margin-left: 5px;
        margin-right: 5px;
      }
      &-left {
        justify-content: flex-start;
        .badge {
          margin-left: 0;
          margin-right: 10px;
        }
      }
    }
    img {
      width: 100%;
    }
  }
}

.box-grid {
  @include flex(row, space-between, wrap);
  align-items: stretch;
  margin: 0 -10px;
  .box {
    flex-grow: 1;
    margin: 0 10px 20px;
    min-width: 20%;
    flex-basis: 20%;
    color: var(--dark);
    text-decoration: none;
  }
}

@media screen and (max-width: 575.98px) {
  .box {
    padding: 20px;
    margin-bottom: 15px;
    .box-header {
      margin: -20px;
      margin-bottom: 20px;
    }
    .tags {
      .badge {
        margin-bottom: 5px;
      }
    }
  }
}
