@import "partials/mixins";

.illustration {
  position: absolute;
  right: 0;
  top: 0;
  @include size(100%, 50%);
  @include flex(column, center);
  align-items: center;
  img {
    height: 80%;
  }
}
