@import "partials/mixins";

.sponsors-header {
  width: 100%;
  height: 86px;
  @include flex(column, center);
  align-items: center;
  margin-top: 50px;
  margin-bottom: 20px;
  color: var(--white_100);
  @include bg-image;
  &:first-child {
    margin-top: 0;
  }
  &__diamond {
    background-image: image-url('sponsors/diamond-desktop.svg');
  }
  &__platin {
    background-image: image-url('sponsors/platin-desktop.svg');
  }
  &__gold {
    background-image: image-url('sponsors/gold-desktop.svg');
  }
  &__silver {
    background-image: image-url('sponsors/silver-desktop.svg');
  }
  &__bronze {
    background-image: image-url('sponsors/bronze-desktop.svg');
  }
}
